<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="messages">
      <% messages.forEach(message => { %>
        <p>
          <%= JSON.stringify(message) %>
        </p>
      <% })                            %>
    </div>

    <button><a href="/new">Create new message</a></button>
  </body>
</html>
