<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="POST" action="/new">
    <label for="userName">User Name</label>
    <input type="text" name="userName" id="userName">

    <label for="messageContent">Message:</label>
    <textarea name="messageContent" id="messageContent"></textarea>

    <input type="submit" value="Submit">
 </form>
 
</body>
</html>